<div class="actions" ng-if="$ctrl.user.isAdmin">
    <h2>Create a New Division(s)</h2>
    <form ng-submit="$ctrl.createBulkDivisions($ctrl.bulkDivisionNames)">
        <div class="form-group">
            <div>
                <label>Division</label>
            </div>
            <textarea name="multiple-riders"
                      rows="10" style="width: 100%;"
                      ng-model="$ctrl.bulkDivisionNames"
                      ng-list="&#10;"
                      ng-trim="false"
                      required>
            </textarea>
        </div>

        <button type="submit" class="btn division-button">Create</button>
    </form>
</div>